@charset "utf-8";
@import url("../common.css");

.navbar-breadcrumb {
    padding: 24px 72px;
}

.breadcrumb-home a {
    color: var(--tone-primary-10);
}

.breadcrumb-element a {
    color: var(--tone-primary-40);
    font-weight: 600;
}