@charset "utf-8";

body {
    scroll-behavior: smooth;
}

/*----------- Fonts -----------*/
@font-face {
    font-family: headline;
    src: url("../fonts/Inter-Bold.ttf"),
         url("../fonts/Inter-Bold.woff2"), 
         url("../fonts/Inter-Bold.eot");        
}

@font-face {
    font-family: title;
    src: url("../fonts/Inter-SemiBold.ttf"),
         url("../fonts/Inter-SemiBold.woff2"),
         url("../fonts/Inter-SemiBold.eot");    
}

@font-face {
    font-family: subtitle;
    src: url("../fonts/Inter-Medium.ttf"),
         url("../fonts/Inter-Medium.woff2"),
         url("../fonts/Inter-Medium.eot");   
}

@font-face {
    font-family: body;
    src: url("../fonts/Inter-Regular.ttf"),
         url("../fonts/Inter-Regular.woff2"),
         url("../fonts/Inter-Regular.eot");
}

h1, h2, h3, h4, h5, h6 {
    font-family: headline;
}
p {
    font-family: body;
    font-size: 14px;
}
.title {
    font-family: title;
    font-size: 16px;
}
.subtitle {
    font-family: subtitle;
    font-size: 16px;
}


/*----------- Buttons -----------*/
/*--- Default state ---*/
.primary-button {
    padding: 8px 20px; 
    border-radius: 4px;
    border: none;
    background-color: #da0020;
    color: #fff;
    cursor: pointer;
    font-family: subtitle;
    font-size: 14px;
}

.secondary-button {
    padding: 8px 20px; 
    background-color: #1a4ea0;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: subtitle;
    font-size: 14px;
}

.tertiary-button {
    padding: 8px 20px; 
    border-radius: 4px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-family: subtitle;
    font-size: 14px;
}

.outline-button {
    padding: 6.5px 20px;
    border-radius: 4px;
    border: 1.5px solid #000;
    cursor: pointer;
    font-family: subtitle;
    font-size: 14px;
}

/*--- Hover state ---*/
.primary-button:hover {
    background-color: #ff415d;
    color: #fff;
}

.secondary-button:hover {
    background-color: #407ee0;
    color: #fff;
}

.tertiary-button:hover {
    background-color: #333;
    color: #fff;
}

.outline-button:hover {
    background-color: #000;
    color: #fff;
}

/*----------- Navigation -----------*/
.header-nav {
    background-color: #fff;
}
#header_logo {
    height: 50px;
    margin: 0.5em 0 1em 0;
}

.nav-link {
    font-family: subtitle;
    font-size: 15px;
    transition: transform .5s ease;
}
.nav li {
    padding: 0.8em;
}

.loginbag {
    display: flex;
    float: right;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.loginbag-icon {
    font-size: 24px;
    color: #000;
}
.loginbag-btn {
    border: none;
}

.nav-link:hover {
    color: #407ee0;
    transition-duration: .3s;
    font-family: title;
}

/*----------- Product cards -----------*/
.product-loop {
    flex: 0 0 auto;
    position: relative;
    overflow: inherit;
}

.product-card {
    border: none;
    box-shadow: 0px 0px 20px 8px #dedede;
    border-radius: 8px;
    overflow: hidden;
    margin: 3em 0;
    padding: 16px;
    position: relative;
}

.product-thumbnail {
    position: relative;
    overflow: hidden;
    position: relative;
}
.product-thumbnail img {
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    transition: transform .5s ease;
    display: block;
}
.product-thumbnail img:hover {
    transform:translateY(16px);
}

.product-label {
    background: #18b460;
    color: #fff;
    font-family: subtitle;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    display: block;
    float: left;
}

.product-label:hover {
    background: #13904c;
}

.icon-wishlist {
    z-index: 9;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg class='svg-ico-wishlist' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='512' height='512' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' xml:space='preserve'%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg' id='_1_Heart' data-name='1 Heart'%3E%3Cpath d='m256.1 506a25 25 0 0 1 -17.68-7.35l-.2-.2-197.55-197.45c-54.12-54.13-54.12-142.2 0-196.33s142.2-54.12 196.33 0l19.1 19.1 18.9-18.9a138.83 138.83 0 0 1 196.33 0c54.12 54.13 54.12 142.2 0 196.33l-81.22 81.21a25 25 0 0 1 -35.35-35.41l81.24-81.2a88.82 88.82 0 0 0 -125.64-125.61l-36.58 36.58a25 25 0 0 1 -35.36 0l-36.78-36.77a88.82 88.82 0 0 0 -125.64 125.6l180.1 180.07 19.13-19.13a25 25 0 0 1 35.36 35.35l-36.81 36.82a25 25 0 0 1 -17.68 7.29z' fill='%23000000' data-original='%23000000' class=''%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
}

.product-info {
    color: #000;
    font-family: body;
    font-size: 12px;
}
.product-property {
    margin: 5px 0;
}
.product-name a {
    font-family: subtitle;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    text-decoration: none;
    margin: 5px 0;
}
.product-price {
    font-family: subtitle;
    font-size: 15px;
    margin: 5px 0;
}

/*----------- Breadcrumb -----------*/
ul.breadcrumb {
    margin: 0.5em 0;
    padding: 10px 0;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumb li {
    display: inline;
    font-size: 12px;
    font-family: subtitle;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #1a4ea0;
    text-decoration: none;
    font-family: body;
}
ul.breadcrumb li a:hover {
    color: #407ee0;
    text-decoration: underline;
}



