@charset "utf-8";

/*--------------- FONTS ---------------*/
@font-face {
    font-family: headline;
    src: url("../fonts/Inter-Bold.ttf"),
         url("../fonts/Inter-Bold.woff2"), 
         url("../fonts/Inter-Bold.eot");        
}

@font-face {
    font-family: title;
    src: url("../fonts/Inter-SemiBold.ttf"),
         url("../fonts/Inter-SemiBold.woff2"),
         url("../fonts/Inter-SemiBold.eot");    
}

@font-face {
    font-family: subtitle;
    src: url("../fonts/Inter-Medium.ttf"),
         url("../fonts/Inter-Medium.woff2"),
         url("../fonts/Inter-Medium.eot");   
}

@font-face {
    font-family: body;
    src: url("../fonts/Inter-Regular.ttf"),
         url("../fonts/Inter-Regular.woff2"),
         url("../fonts/Inter-Regular.eot");
}

h1, h2, h3, h4, h5, h6 {
    font-family: headline;
}

p {
    font-family: body;
    font-size: 14px;
}

.title {
    font-family: title;
    font-size: 16px;
}

.subtitle {
    font-family: subtitle;
    font-size: 16px;
}


/*--------------- NAVIGATION ---------------*/
.header-nav {
    background-color: #fff;
}
#header_logo {
    height: 50px;
    margin: 0.5em 0 1em 0;
}

.nav-link {
    font-family: subtitle;
    font-size: 15px;
}

.nav li {
    padding: 0.8em;
}

.loginbag {
    display: flex;
    float: right;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.loginbag-icon {
    font-size: 24px;
    color: #000;
}
.loginbag-btn {
    border: none;
}

/*--------------- BUTTONS ---------------*/
/*--- Default state ---*/
.primary-button {
    padding: 8px 24px; 
    border-radius: 8px;
    border: none;
    background-color: #da0020;
    color: #fff;
    cursor: pointer;
    font-family: subtitle;
    font-size: 14px;
}

.secondary-button {
    padding: 8px 24px; 
    background-color: #1a4ea0;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: subtitle;
    font-size: 14px;
}

.tertiary-button {
    padding: 8px 24px; 
    border-radius: 4px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-family: subtitle;
    font-size: 14px;
}

.outline-button {
    padding: 6.5px 24px;
    border-radius: 4px;
    border: 1.5px solid #000;
    cursor: pointer;
    font-family: subtitle;
    font-size: 14px;
}

/*--- Hover state ---*/
.primary-button:hover {
    background-color: #820013;
    color: #fff;
}

.secondary-button:hover {
    background-color: #0f2e60;
    color: #fff;
}

.tertiary-button:hover {
    background-color: #666;
    color: #fff;
}

.outline-button:hover {
    background-color: #000;
    color: #fff;
}







