@charset "utf-8";

* {
    font-family: body;
}

/*----------- Banner -----------*/
.banner img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin: 0 0 1em 0;
}

/*----------- Filter & sort -----------*/
.product-filter {
    margin-top: 1em;
}
.product-filter h5, h6 {
    font-family: title;
}
.product-filter p {
    font-family: subtitle;
    margin-bottom: 0.5em;
}
.product-filter img {
    width: 50px;
    background-color: #e4e7e6;
}
.product-types {
    border-radius: 50%;
    padding: 8px;
    margin-bottom: 0.5em;
}
.product-filter img:hover {
    background-color: #ffc008;
}
.color-option {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.color-option:hover {
    border: 1.5px solid #ffc008;
}
