@charset "utf-8";

* {
    font-family: body;
}
/*----------- Breadcrumb -----------*/
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    font-family: body;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #1a4ea0;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #407ee0;
    text-decoration: underline;
}