<div class="container-fluid">
    <div class="container">
        <!--Breadcrumb-->
       <ul class="breadcrumb">
            <li><a href="/">TRANG CHỦ</a></li>
            <li>GIỎ HÀNG</li>
        </ul>

        <!--Cart items-->     
        <div class="cart-container">
            <h3>Giỏ hàng của bạn</h3>
        </div>
    </div>
</div>