<script>
        //Product image list
        window.onload = function() {
            const firstImage = document.querySelector('.product-img-list img:first-child');
            firstImage.click(); // Simulate a click on the first image
        }
    
        function changeThumbnail(event) {
            const src = event.target.src;
            const thumbnail = document.querySelector('.product-thumbnail');
            thumbnail.src = src;
            const images = document.querySelectorAll('.product-img-list img');
            images.forEach(img => img.style.border = 'none');
            event.target.style.border = '2px solid black';
        }
        //Product quantity
        function minusQuantity() {
            let quantityInput = document.getElementById("quantity");
            let currentQuantity = parseInt(quantityInput.value);

            if (currentQuantity > 1) {
                quantityInput.value = currentQuantity - 1;
            }
        }

        function plusQuantity() {
            let quantityInput = document.getElementById("quantity");
            let currentQuantity = parseInt(quantityInput.value);

            quantityInput.value = currentQuantity + 1;
        }

        //Product variants
        function selectSize(sizeButton) {
            const sizeButtons = document.querySelectorAll('.product-sizes button');
            sizeButtons.forEach(button => button.style.border = 'none');
            sizeButton.style.border = '2px solid black';
            console.log("Selected size: " + sizeButton.textContent);
        }

        function selectColor(colorButton) {
            const colorButtons = document.querySelectorAll('.product-color button');
            colorButtons.forEach(button => button.style.border = 'none');
            colorButton.style.border = '2px solid black';
            console.log("Selected color: " + colorButton.style.backgroundColor);
        }
    </script>

    
    <!--Product display-->
    <div class="container-fluid">
        <div class="container product-display">
            <div class="row g-4">
                <div class="col">
                    <div class="left-display">
                        <!--Product images-->
                        <div class="product-img-list">
                            <img src="/src/public/user/img/GiayNam/BSM001100/BSM001100MAIN.jpg" onclick="changeThumbnail(event)">
                            <img src="/src/public/user/img/GiayNam/BSM001100/BSM001100TRG.jpg" onclick="changeThumbnail(event)">
                            <img src="/src/public/user/img/GiayNam/BSM001100/BSM001100DEN.jpg" onclick="changeThumbnail(event)">
                        </div>
                        <!--Product thumbnail-->
                        <img class="product-thumbnail" src="/src/public/user/img/GiayNam/BSM001100/BSM001100MAIN.jpg" alt="">
                    </div>
                </div>      
                <div class="col">
                    <div class="right-display">
                        <!--Product name-->
                        <h4 class="product-name">Giày Thể Thao Nam Biti's BSM001100</h4>
                        <!--Product rating-->
                        <div class="product-rating align-items-center">
                            <img src="/src/public/user/img/rating-4.png" alt=""> 
                            <p>(211)</p>
                        </div>
                        <!--Product price-->
                        <h3 class="product-price"> 290,000 ₫</h3>
                        <!--Product stock-->
                        <p>Tình trạng: <a class="product-stock"><strong>Còn hàng (32)</strong></a>
                        <!--Product description-->
                        <p class="product-description" style="font-size: 14px;">
                            Nâng tầm mỗi bước chạy với đôi giày chạy bộ hiệu suất cao của chúng tôi! Thiết kế với vật liệu nhẹ và đế đàn hồi, đôi giày này mang lại sự thoải mái và hỗ trợ vô song qua từng dặm đường. Phần upper bằng vải lưới thông thoáng giúp giữ đôi chân mát mẻ trong khi lớp lót đệm hấp thụ lực tác động.
                        </p>
                        <!--Product variants-->
                        <div class="products-variants mb-3">
                            <div class="product-sizes">
                                <p style="margin: 0;">Kích thước:</p>
                                <div class="size-option d-flex">
                                    <button onclick="selectSize(this)">38</button>
                                    <button onclick="selectSize(this)">39</button>
                                    <button onclick="selectSize(this)">40</button>
                                    <button onclick="selectSize(this)">41</button>
                                    <button onclick="selectSize(this)">42</button>
                                    <button onclick="selectSize(this)">43</button>
                                </div>
                            </div>
                            <div class="product-color">
                                <p style="margin: 0;">Màu sắc:</p>
                                <div class="color-option d-flex">
                                    <button style="background-color:gray" onclick="selectColor(this)"></button>
                                    <button style="background-color:rgb(240, 240, 240)" onclick="selectColor(this)"></button>
                                    <button style="background-color:black" onclick="selectColor(this)"></button>
                                </div>
                            </div>
                        </div>
                        <div class="product-qty">
                            <p style="margin: 0;">Số lượng:</p>
                            <div class="product-quantity mb-2">
                                <input type="button" value="-" onclick="minusQuantity()" class="qty-btn">
                                <input type="text" id="quantity" name="quantity" value="1" min="1" class="qty-input">
                                <input type="button" value="+" onclick="plusQuantity()" class="qty-btn">
                            </div>
                        </div>
                        <div class="d-flex">
                            <button class="primary-button mb-3 me-3" onclick="addToCart(productId)">ADD TO CART</button>
                            <button class="outline-button mb-3" onclick="addToCart(productId)">BUY NOW</button>
                        </div>    
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <!--Product rating & reviews-->
    <div class="container-fluid">
        <div class="container">

        </div>
    </div>