<!--Breadcrumb & Banner-->
<script>
    var allProducts;
</script>

{{#if Nam}}
    <!--------- Breadcrumb --------->
    <div class="container-fluid">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">TRANG CHỦ</a></li>
                <li><a href="#">SẢN PHẨM</a></li>
                <li>GIÀY NAM</li>
            </ul>
        </div>
    </div>

    <!--------- Banner --------->
    <div class="banner">
        <img src="user/img/shop_banner_nam.png" alt="banner">
    </div>
{{else}}
    <!--------- Breadcrumb --------->
    <div class="container-fluid">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">TRANG CHỦ</a></li>
                <li><a href="#">SẢN PHẨM</a></li>
                <li>GIÀY DÉP NỮ</li>
            </ul>
        </div>
    </div>
    <!--------- Banner --------->
    <div class="banner">
        <img src="user/img/shop_banner_nu.jpg" alt="banner">
    </div>

{{/if}}

<!--------- Products --------->
<div class="container-fluid">
    <div class="container" style="display: flex">
        <div class="row g-3" id="page-content" style=" display: flex; flex: 1; flex-wrap: wrap">
            {{#if Nam}}
                {{> filter_nam}}
            {{else}}
                {{> filter_nu}}
            {{/if}}
            <!--------- Products --------->
            <div id="product-container" style="display: flex; flex: 1; flex-wrap: wrap"></div>
        </div>
        <!----- Pagination ----------->
        <ul class="nav" id="page-bar">
        </ul>

    </div>
</div>
<script src="user/js/viewhandlers/shop_handler.js"></script>
<script>
    let query = {};
    if {{Nam}}
            {
                query.filter.categories = {$in: ['Nam']}
            }
    else
    {
        query.filter.categories = {$in: ['Nữ']}
    }
    loadProductPage(query, 0)
    createPageButtons(query)
</script>
