<!--Breadcrumb & Banner-->
{{#if Nam}}
    <!--------- Breadcrumb --------->
    <div class="container-fluid">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">TRANG CHỦ</a></li>
                <li><a href="#">SẢN PHẨM</a></li>
                <li>GIÀY NAM</li>
            </ul>
        </div>
    </div>

    <!--------- Banner --------->
    <div class="banner">
        <img src="user/img/shop_banner_nam.png" alt="banner">
    </div>
{{else}}
    <!--------- Breadcrumb --------->
    <div class="container-fluid">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">TRANG CHỦ</a></li>
                <li><a href="#">SẢN PHẨM</a></li>
                <li>GIÀY DÉP NỮ</li>
            </ul>
        </div>
    </div>
    <!--------- Banner --------->
    <div class="banner">
        <img src="user/img/shop_banner_nu.jpg" alt="banner">
    </div>

{{/if}}

<!--------- Products --------->
<div class="container-fluid" id="product-page">
    <div class="container" style="display: flex">
        <div class="row g-3" id="page-content" style=" display: flex; flex: 1; flex-wrap: wrap">
            {{#if Nam}}
                {{> filter_nam}}
            {{else}}
                {{> filter_nu}}
            {{/if}}
            <!--------- Products --------->
            <div id="product-container" style="display: flex; flex: 1; flex-wrap: wrap"></div>
        </div>
    </div>
    <!----- Pagination ----------->
    <ul class="nav justify-content-center col-6" id="page-bar" style="position:absolute; left:35%; display:flex; flex: 1; margin-top: 0.5rem;">
    </ul>
</div>

<script src="/user/js/viewhandlers/shop_handler.js"></script>

<script>
    var Nam = {{Nam}};
    if (Nam === true) {
        categories.push('Nam');
    } else {
        categories.push('Nữ')
    }
    query.filter.categories = {$all: categories}
    loadProductPage(query, 0)
    createPageButtons(query)
</script>