.product-filter {
    margin-top: 1em;
}
.product-filter h5, h6 {
    font-family: title;
    margin-top: 0.6em;
}
.product-filter p {
    font-family: subtitle;
    margin-bottom: 0.5em;
}
.product-filter img {
    width: 40px;
    background-color: #e4e7e6;
}
.product-types {
    border-radius: 50%;
    padding: 8px;
    margin-bottom: 0.5em;
}
.product-filter img:hover {
    background-color: #ffc008;
}
.product-filter a {
    text-decoration: none;
    color: #1d1d1d;
    font-family: subtitle;
    background-color: #e4e7e6;
}
.color-option button {
    margin: 0 16px 0 0;
    height: 40px;
    width: 40px;
    border-radius: 0px;
    border: none;
}
.color-option button:hover {
    border: 2px solid black;
}