<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link type="text/css" href="user/bootstrap-5/css/bootstrap.min.css" rel="stylesheet">
  <script src="user/bootstrap-5/js/bootstrap.bundle.min.js"></script>
  <!-- CSS -->
  <link type="text/css" href="user/css/common.css" rel="stylesheet">
  <link type="text/css" href="user/css/formstyle.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <link href="user/css/shop.css" rel="stylesheet">
  <!-- Icons -->
  <link type="text/css" rel="stylesheet" href="user/icon/css/line-awesome.min.css">
  <!-- Sirv -->
  <script src="https://scripts.sirv.com/sirvjs/v3/sirv.js"></script>
  <script type="module" src="user/resources/init.js"></script>
  <!-- JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

  <title>Biti's</title>
</head>


<body>

  <!--------- Navigation --------->
  <div class="header-nav border-bottom">
    <div class="container">
      <div class="row d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
        <!-- Logo -->
        <div class="col-2">
          <a href="/" class="d-flex ">
            <img src="user/img/logo.png" alt="logo" id="header_logo" style="width:85%">
          </a>
        </div>
        <!-- Nav -->
        <ul class="nav col-6">
          <li class="nav-item"><a href="/" class="nav-link link-dark">Trang chủ</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-dark">Về Biti's</a></li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link link-secondary dropdown-toggle" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Sản phẩm</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" data-bs-popper="none">
              <li>
                <a class="dropdown-item" href="/shop-nam">Giày Dép Nam</a>
              </li>
              <li>
                <a class="dropdown-item" href="/shop-nu">Giày Dép Nữ</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="/shop-nu">Phụ kiện</a>
              </li>
            </ul>
          </li>
          <li class="nav-item"><a href="/contact" class="nav-link link-dark">Liên hệ</a></li>
        </ul>

        <!-- Loginbag -->
        <div class="loginbag col-4">
          <button type="button" class="loginbag-btn ms-5 me-1"><i class="la la-search loginbag-icon"></i></button>
          <button type="button" class="loginbag-btn me-3"><i class="la la-shopping-bag loginbag-icon"></i></button>
          <button type="button" class="btn outline-button me-3" id="Sign-in-btn">Đăng nhập</button>
          <button type="button" class="btn primary-button" id="Sign-up-btn">Đăng ký</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Sign In -->
  <div class="row justify-content-center modal fade" id="Signin">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <h3 class="text-center font-weight-light my-3">Đăng nhập</h3>
          <button type="button" class="close" aria-label="Close" onclick="x()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <form>
            <div class="form-floating mb-3">
              <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
              <label for="inputEmail">Địa chỉ Email</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="inputPassword" type="password" placeholder="Password" />
              <label for="inputPassword">Mật khẩu</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
              <label class="form-check-label" for="inputRememberPassword">Nhớ mật khẩu</label>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
              <a class="small" href="password.html">Quên mật khẩu?</a>
              <a class="btn btn-primary" href="index.html">Đăng nhập</a>
            </div>
          </form>
        </div>
        <div class="card-footer text-center py-3">
          <div class="small"><button href="register.html">Bạn chưa có tài khoản? Đăng ký ngay!</a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sign Up -->
  <div class="row justify-content-center modal fade" id="Signup">
    <div class="col-lg-7">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <h3 class="text-center font-weight-light my-4">Tạo tài khoản</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                  <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" />
                  <label for="inputFirstName">Họ</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" />
                  <label for="inputLastName">Tên</label>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
              <label for="inputEmail">Địa chỉ Email</label>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                  <input class="form-control" id="inputPassword" type="password" placeholder="Create a password" />
                  <label for="inputPassword">Mật khẩu</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                  <input class="form-control" id="inputPasswordConfirm" type="password"
                    placeholder="Confirm password" />
                  <label for="inputPasswordConfirm">Xác nhận mật khẩu</label>
                </div>
              </div>
            </div>
            <div class="mt-4 mb-0">
              <div class="d-grid"><a class="btn btn-primary btn-block" href="login.html">Đăng ký</a></div>
            </div>
          </form>
        </div>
        <div class="card-footer text-center py-3">
          <div class="small"><a href="login.html">Bạn đã có tài khoản? Đăng nhập ngay!</a></div>
        </div>
      </div>
    </div>
  </div>
  <script type="module" src="user/resources/init.js"></script>

  {{{body}}}

  <div class="container-fluid border-top mt-5">
    <div class="container">
      <footer class="py-5">
        <div class="row">
          <!-- Về bitis -->
          <div class="col mb-3">
            <h6 class="title mb-4">VỀ BITI'S</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Về Biti's</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Câu chuyện Biti's</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Bước tiến phát
                    triển</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Hoạt động</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Liên hệ</a>
                </li>
              </ul>
          </div>
          <!-- Thông tin -->
          <div class="col mb-3">
            <h6 class="title mb-4">THÔNG TIN</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Trạng thái đơn hàng</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Hình thức giao hàng</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Hình thức thanh
                    toán</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Hướng dẫn cách chọn
                    size</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Chính sách đổi trả</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Chính sách bảo hành</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Chính sách khách hàng
                    thân thiết</a>
                </li>
              </ul>
          </div>
          <!-- Trợ giúp -->
          <div class="col mb-3">
            <h6 class="title mb-4">TRỢ GIÚP</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Tuyển dụng</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Hệ thống cửa hàng</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Liên hệ hợp tác</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="#" class="nav-link p-0 text-muted" style="padding: 0;margin-left: 0;">Q&A</a>
                </li>
              </ul>
          </div>
          <!-- Email -->
          <div class="col-4 mb-3">
            <img class="mb-4 footer-logo" src="user/img/logo.png" style="width: 40%">
            <h6 class="title mb-4">CÔNG TY TNHH SẢN XUẤT HÀNG TIÊU DÙNG BÌNH TIÊN</h5>
              <p><strong>Địa chỉ:</strong> 22 Lý Chiêu Hoàng, Phường 10, Quận 6, TP. Hồ Chí Minh<br>
                <strong>Điện thoại:</strong> (028) 38 753 443<br>
                <strong>Email:</strong> chamsockhachhang@bitis.com.vn<br>
                <strong>Hotline:</strong> 0966158666<br>
                <strong>Thời gian tư vấn:</strong> 8h – 21h30 các ngày trong tuần (trừ ngày Lễ, Tết)
              </p>
          </div>
        </div>
        <div class="row justify-content-between border-top pt-4">
          <div class="col">
            <p>Copyright © 2023 Biti's. All rights reserved.</p>
          </div>
          <div class="col-3">
            <img src="user/img/footer.png" style="height: 3rem;">
          </div>
          <div class="col-4">
            <p>Giấy CNĐKDN: 0301340497 được cấp ngày 20/01/1992, được sửa đổi lần thứ 20 ngày 28/12/2015 bởi Sở Kế hoạch
              và Đầu tư TPHCM</p>
          </div>
        </div>
      </footer>
    </div>
  </div>


</body>

</html>