@charset "utf-8";

* {
    font-family: body;
}

/*----------- Banner -----------*/
.banner img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin: 0 0 1em 0;
}

/*----------- Filter & sort -----------*/
.product-filter {
    margin-top: 0.5em;
}
.product-filter h5 {
    font-family: title;
}
.product-filter p {
    font-family: subtitle;
    margin-bottom: 0.5em;
}
.product-filter img {
    width: 50px;
    background-color: #e4e7e6;
}
.product-types {
    border-radius: 50%;
    padding: 8px;
    margin-bottom: 0.5em;
}
.product-filter img:hover {
    border: 1px solid #000;
    background-color: #ffc008;
}
