<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./buttons.css">
    <title>Document</title>
</head>
<body>
    <h1>PRIMARY BUTTON</h1>
    <button class="prim-btn-nm">BUTTON</button>
    <button class="prim-btn-md">BUTTON</button>
    <button class="prim-btn-sm">BUTTON</button>
    <h1>SECONDARY BUTTON</h1>
    <button class="sec-btn-nm">BUTTON</button>
    <button class="sec-btn-md">BUTTON</button>
    <button class="sec-btn-sm">BUTTON</button>
    <h1>TERTIARY BUTTON</h1>
    <button class="tert-btn-nm">BUTTON</button>
    <button class="tert-btn-md">BUTTON</button>
    <button class="tert-btn-sm">BUTTON</button>
    <h1>OUTLINE BUTTON</h1>
    <button class="outline-btn-nm">BUTTON</button>
    <button class="outline-btn-md">BUTTON</button>
    <button class="outline-btn-sm">BUTTON</button>
    <h1>LINK</h1>
    <div><a href="#" class="link-nm">This is a link</a></div>
    <div><a href="#" class="link-md">This is a link</a></div>
    <div><a href="#" class="link-sm">This is a link</a></div>

    <h1>PRIMARY DISABLED BUTTON</h1>
    <button class="prim-btn-nm" disabled>BUTTON</button>
    <button class="prim-btn-md" disabled>BUTTON</button>
    <button class="prim-btn-sm" disabled>BUTTON</button>
    <h1>SECONDARY DISABLED BUTTON</h1>
    <button class="sec-btn-nm" disabled>BUTTON</button>
    <button class="sec-btn-md" disabled>BUTTON</button>
    <button class="sec-btn-sm" disabled>BUTTON</button>
    <h1>TERTIARY DISABLED BUTTON</h1>
    <button class="tert-btn-nm" disabled>BUTTON</button>
    <button class="tert-btn-md" disabled>BUTTON</button>
    <button class="tert-btn-sm" disabled>BUTTON</button>
    <h1>OUTLINE DISABLED BUTTON</h1>
    <button class="outline-btn-nm" disabled>BUTTON</button>
    <button class="outline-btn-md" disabled>BUTTON</button>
    <button class="outline-btn-sm" disabled>BUTTON</button>
    <h1>DISABLED LINK</h1>
    <div><a href="#" class="link-nm" onclick="setLinkDisabled(this)">Click this link to disabled</a></div>
    <div><a href="#" class="link-md" onclick="setLinkDisabled(this)">Click this link to disabled</a></div>
    <div><a href="#" class="link-sm" onclick="setLinkDisabled(this)">Click this link to disabled</a></div>

    <script src="./index.js"></script>
</body>
</html>