    <!--------- Breadcrumb --------->
    <div class="container-fluid">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="user_home.html">TRANG CHỦ</a></li>
                <li><a href="#">SẢN PHẨM</a></li>
                <li>GIÀY DÉP NỮ</li>
            </ul>
        </div>
    </div>
    <!--------- Banner --------->
    <div class="banner">
        <img src="img/shop_banner_nu.jpg" alt="banner">
    </div>