<!--------- Banner --------->
<div class="banner">
    <img src="user/img/home_banner.jpg" alt="banner">
</div>
<!--------- Products --------->
<div class="container-fluid">
    <div class="container">
        {{> new_product Products=product}}
    </div>
</div>
{{> news}}