@charset "utf-8";
@import url("../common.css");

d4 {
    line-height: 56px;
}

h5, h6, p {
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

a h5 img {
    width: 30px;
    height: 30px;
    padding-bottom: 10px;
}

.navbar-container {
    background: var(--tone-neutral-variant-95);
    border-bottom: 1px solid var(--tone-secondary-70);
}

.content-page {
    margin: 0 85px 0 85px;
}

.navbar {
    color: var(--tone-primary-40);
    min-height: 84px; 
    width: 1296px;
    padding-left: 0!important;
    padding-right: 0!important;
}

.navbar-text {
    font-family: semibold-font;
    font-size: 18px;
    color: var(--tone-primary-40);
}

.navbar-menu {
    padding: 48px 72px;
    height: 543px;
    color: var(--tone-primary-30);
    background: var(--scheme-background);
    box-shadow: 0px 2px 10px 0px #BCCBB0;
    display: none;
}

.navbar-menu.open-menu,
.navbar-cart.open-cart-modal {
    display: flex;
}

.navbar-cart-num {
    padding: 5px 7.175px;
    color: var(--tone-primary-99);
    background: var(--tone-primary-40);
    border-radius: 50%;
    margin-right: 1em;
}

.menu-contact-container {
    margin-right: 24px;
}

.menu-img {
    object-fit: contain;
}

.nav-bar-contact {
    margin-top: 40px;
}

.navbar .menu-open-btn:hover,
.navbar .cart-modal-open-btn:hover,
.navbar-cart .cart-close-btn:hover
{
    cursor: pointer;
}

/*-- Menu img --*/
.menu-img {
    object-fit: contain;
    width: 526px;
    position: relative;
    display: inline-block;
}

.view-more-btn {
    position: absolute;
    top: 30px;
    right: 32px;
    color: var(--tone-secondary-95);
    text-decoration: none;
}

.view-more-btn:hover {
    color: var(--tone-primary-99);
}

/*-- Cart modal --*/
.navbar-cart {
    top: 0;
    right: 0;
    width: 524px;
    padding: 24px 24px 48px 24px;
    background: var(--scheme-background);
    box-shadow: 0px 4px 10px 0px #A1B096;
    display: none;
}
.cart-list-section {
    width: 500px;
}

.cart-close-btn {
    top: 24px;
    right: 24px;
}

.cart-item-img {
    height: 130px;
    width: 130px;
}

.cart-item-quantity {
    padding: 8px;
    padding-top: 0;
    color: #000;
    border: 1px solid var(--scheme-outline);
}

.cart-total-section {
    margin: 32px 0;
    padding: 16px 0;
    border-top: 1px solid var(--scheme-outline);
    border-bottom: 1px solid var(--scheme-outline);
}

.cart-total {
    font-family: regular-font;
    font-size: 25px;
    line-height: 34px;
}

/*-- Login --*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal {
    top: 50%;
    left: 0px;
    height: 800px;
    background: var(--scheme-background);
    border-radius: 8px;
    border: none;
}

.modal-content-login {
    padding-top: 174px;
    background: var(--scheme-background);
    width: fit-content;
    border-radius: 8px;
    border: none;
}

.modal-content-signup {
    padding-top: 127px;
    background: var(--scheme-background);
    width: fit-content;
    border-radius: 8px;
    border: none;
}

.modal-img {
    display: inline-flex;
    left: 0;
    height: 100vh;
    margin-right: 134px;
}

.social-login-btn, .social-signup-btn {
    width: 100%;
    display: flex;
    margin-top: 24px;
}

#login-or, #signup-or {
    color: var(--tone-neutral-70);
    text-align: center;
    margin-top: 24px;
}

.login-btn, .signup-btn {
    margin-top: 32px;
}
.signup-link, .login-link {
    margin-top: 16px;
    display: inline-block;
    font-family: regular-font;
    color: var(--tone-neutral-60);
}

.signup-link a {
    display: inline;
    color: var(--tone-primary-40);
    text-decoration: none;
    font-family: semibold-font;
}

/*-- Account dropdown --*/
.dropdown-content {
    z-index: 1;
    right: 0px;
    list-style: none;
    display: none;
    position: absolute;
    background-color: var(--scheme-background);
    padding: 0;
    min-width: 210px;
    box-shadow: 0px 4px 10px 0px #BCCBB0;
    z-index: 1;
    font-family: regular-font;
    font-size: 18px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li a {
    display: block;
    padding: 16px 24px;
    text-decoration: none;
    color: var(--scheme-on-surface-variant);
}

.dropdown-content li a:hover {
    background-color: var(--tone-secondary-90); /* Change background color on hover */
}

.list-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; 
  }
  
.list-item img {
    margin-right: 8px;
}