<script>
    //Product variants
    function selectSize(sizeButton) {
        const sizeButtons = document.querySelectorAll('.product-sizes button');
        sizeButtons.forEach(button => button.style.border = 'none');
        sizeButton.style.border = '2px solid black';
        console.log("Selected size: " + sizeButton.textContent);
    }

    function selectColor(colorButton) {
        const colorButtons = document.querySelectorAll('.product-color button');
        colorButtons.forEach(button => button.style.border = 'none');
        colorButton.style.border = '2px solid black';
        console.log("Selected color: " + colorButton.style.backgroundColor);
    }    
</script>

<div class="col-3 product-filter">
    <h6 class="py-2 mb-3 border-bottom"><i class="las la-filter" style="font-size: 20px;"></i>&nbsp;&nbsp;Kiểu giày</h6>
    <img src="user/img/GiayNu/GiayNuLabel/hunter-nu.svg" alt="hunter" class="product-types me-3">
    <img src="user/img/GiayNu/GiayNuLabel/giay-the-thao-nu.svg" alt="thethao" class="product-types me-3">
    <img src="user/img/GiayNu/GiayNuLabel/giay-bup-be-nu.svg" alt="bupbe" class="product-types me-3">
    <img src="user/img/GiayNu/GiayNuLabel/hunter-running-jogging.svg" alt="chaybo" class="product-types">
    <img src="user/img/GiayNu/GiayNuLabel/sandal-nu.svg" alt="sandal" class="product-types me-3">
    <img src="user/img/GiayNu/GiayNuLabel/giay-thoi-trang.svg" alt="thoitrang" class="product-types me-3">
    <img src="user/img/GiayNu/GiayNuLabel/tui-xach.svg" alt="tuixach" class="product-types me-3">
    <img src="user/img/GiayNu/GiayNuLabel/dep-nu.svg" alt="depnu" class="product-types">
    <h6 class="py-2 mb-3 border-bottom"><i class="la la-palette" style="font-size: 20px;"></i>&nbsp;&nbsp;Màu sắc</h6>
    <div class="product-color">
        <div class="color-option d-flex">
            <button style="background-color:black" onclick="selectColor(this)"></button>
            <button style="background-color:gray" onclick="selectColor(this)"></button>
            <button style="background-color:#da0020" onclick="selectColor(this)"></button>
            <button style="background-color:#1a4ea0" onclick="selectColor(this)"></button>
            <button style="background-color:#f36b26" onclick="selectColor(this)"></button>
            <button style="background-color:#f23995" onclick="selectColor(this)"></button>
            <button style="background-color:#a83280" onclick="selectColor(this)"></button>
            <button style="background-color:#781f9f" onclick="selectColor(this)"></button>
            <button style="background-color:#178d7c" onclick="selectColor(this)"></button>
            <button style="background-color:#23b551" onclick="selectColor(this)"></button>
            <button style="background-color:#88e23c" onclick="selectColor(this)"></button>
            <button style="background-color:rgb(240, 240, 240)" onclick="selectColor(this)"></button>
            
        </div>
    </div>
    <h6 class="py-2 mb-3 border-bottom"><i class="las la-sort" style="font-size: 20px;"></i>&nbsp;&nbsp;Sắp xếp theo</h6>
            
</div>