<!-- Login -->
<div class="modal" id="loginModal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h3>Đăng nhập</h3>
        <form action="/login" method="POST">
            <label for="username">Tên đăng nhập:</label>
            <input type="text" name="username" required>
            <label for="password">Mật khẩu:</label>
            <input type="password" name="password" required>
            <button type="submit" class="btn primary-button">Đăng nhập</button>
        </form>
    </div>
</div>
<!-- Javascript Login modal-->
<script>
    // Open the login modal
    document.getElementById('loginBtn').addEventListener('click', openModal);

    function closeModal() {
        document.getElementById('loginModal').style.display = 'none';
    }

    function openModal() {
        document.getElementById('loginModal').style.display = 'block';
    }
</script>