<!-- Login -->
<div class="modal" id="loginModal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h3>Đăng nhập</h3>
        <form action="/login" method="POST">
            <label for="username">Tên đăng nhập:</label>
            <input type="text" name="username" required>
            <label for="password">Mật khẩu:</label>
            <input type="password" name="password" required>
            <p class="additional-text">Quên mật khẩu?</p>
            <button type="submit" class="btn primary-button">Đăng nhập</button>
        </form>
    </div>
</div>
<!-- Javascript Login modal-->
<script>
    // Open the login modal
    document.getElementById('NavBar-loginBtn').addEventListener('click', openModal);

    function closeModal() {
        document.getElementById('loginModal').style.display = 'none';
    }

    function openModal() {
        document.getElementById('loginModal').style.display = 'block';
    }
</script>


<!-- Sign up modal -->
<div class="overlay" id="signupOverlay"></div>
<div class="modal" id="signupModal">
    <div class="modal-content">
        <span class="close" onclick={closeSignupModal()}>&times;</span>
        <h3>Đăng ký</h3>
        <form id="signup-form">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="nguyenvana" required >
            <p id="username-notice" style="color: red"></p>
        
            <label for="username">Email</label>
            <input type="text" id="email" name="username" placeholder="nguyenvana@gmail.com" required >
            <p id="email-notice" style="color: red"></p>

            <label for="password">Mật khẩu</label>
            <input type="password" id="password" name="username" placeholder="••••••••••••••••" required >
            <p id="password-notice" style="color: red"></p>
            <button type="submit" class="btn primary-button">Đăng ký</button>
            <br>
            <p>Đã có tài khoản? <a class="link-button-small" href="#">Đăng nhập ngay</a></p>
        </form>
    </div>
</div>

<!-- Javascript Sign up modal-->
<script>
    // Open the sign up modal
    document.getElementById('NavBar-signupBtn').addEventListener('click', openSignupModal);

    // Close the sign up modal
    function closeSignupModal() {
        document.getElementById('signupModal').style.display = 'none';
        document.getElementById('signupOverlay').style.display = 'none';
    }

    // Open the signup modal
    function openSignupModal() {
        document.getElementById('signupModal').style.display = 'block';
        document.getElementById('signupOverlay').style.display = 'block';
    }

</script>


<script>

</script>
