<!-- Login -->
<div class="modal" id="loginModal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h3>Đăng nhập</h3>
        <form action="/login" method="POST">
            <label for="username">Tên đăng nhập:</label>
            <input type="text" name="username" required>
            <label for="password">Mật khẩu:</label>
            <input type="password" name="password" required>
            <button type="submit" class="btn primary-button">Đăng nhập</button>
        </form>
    </div>
</div>
<!-- Javascript Login modal-->
<script>
    // Open the login modal
    document.getElementById('loginBtn').addEventListener('click', openModal);

    function closeModal() {
        document.getElementById('loginModal').style.display = 'none';
    }

    function openModal() {
        document.getElementById('loginModal').style.display = 'block';
    }
</script>


<!-- Sign up modal -->
<div class="overlay" id="signupOverlay"></div>
<div class="modal" id="signupModal">
    <div class="modal-content">
        <span class="close" onclick={closeSignupModal()}>&times;</span>
        <img src="user/img/logo.png" style="width: 25%;margin-top: 1em;">
        <h3>Đăng ký</h3>
        <form id="signup-form">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="nguyenvana" required >
            <p id="username-notice"></p>
        
            <label for="username">Email</label>
            <input type="text" id="email" name="username" placeholder="nguyenvana@gmail.com" required >
            <p id="email-notice">Hello</p>

            <label for="password">Mật khẩu</label>
            <input type="password" id="password" name="username" placeholder="••••••••••••••••" required >
            <p id="password-notice">Hello</p>

            <p class="additional-text">Quên mật khẩu?</p>
            <button type="submit" class="btn primary-button">Đăng ký</button>
            <br>
            <p>Đã có tài khoản? <a class="link-button-small" href="#">Đăng nhập ngay</a></p>
        </form>
    </div>
</div>

<!-- Javascript Sign up modal-->
<script>
    // Open the sign up modal
    document.getElementById('NavBar-signupBtn').addEventListener('click', openSignupModal);

    // Close the sign up modal
    function closeSignupModal() {
        document.getElementById('signupModal').style.display = 'none';
        document.getElementById('signupOverlay').style.display = 'none';
    }

    // Open the signup modal
    function openSignupModal() {
        document.getElementById('signupModal').style.display = 'block';
        document.getElementById('signupOverlay').style.display = 'block';
    }

    console.log("Hello from modal.hbs")
    const {axios} = require("axios");
    const User = require("../../../../model/user")

    async function dataValidate(Data)
    {
        let info = await axios.get('http://localhost:3000/admin/', {
            params: Data
        })
        if (info) return `${Data.keys()[0]} không hợp lệ hoặc đã tồn tại`;
        else return `${Data.keys()[0]} có thể sử dụng`;
    }

    function checkPasswordStrength(password) {
        // Độ dài tối thiểu của mật khẩu
        const minLength = 8;

        // Biểu thức chính quy để kiểm tra ký tự chữ hoa, chữ thường, số và ký tự đặc biệt
        const uppercaseRegex = /[A-Z]/;
        const lowercaseRegex = /[a-z]/;
        const digitRegex = /[0-9]/;
        const specialCharRegex = /[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]/;

        // Kiểm tra độ dài của mật khẩu
        if (password.length < minLength) {
            return 'Mật khẩu quá ngắn'
        }

        // Kiểm tra sự xuất hiện của chữ hoa, chữ thường, số và ký tự đặc biệt
        if (!uppercaseRegex.test(password)) {
            return 'Mật khẩu phải chứa ít nhất 1 chữ cái VIẾT HOA'
        }
        if (!lowercaseRegex.test(password)) {
            return 'Mật khẩu phải chứa ít nhất 1 chữ cái viết thường'
        }
        if (!digitRegex.test(password)) {
            return 'Mật khẩu phải chứa ít nhất một chữ số'
        }
        if (specialCharRegex.test(password)) {
            return 'Mật khẩu phải chứa ít nhất một ký tự đặt biệt (!@#$%^&*()_+\-=[\]{};\':"\\|,.<>/?)'
        }

        return 'Mật khẩu hợp lệ'
    }

    function formControl()
    {
        let username = document.getElementById('username');
        let email = document.getElementById('email');
        let password = document.getElementById('password');

        document.querySelector('#username-notice').innerHTML = dataValidate({username: username.value})
        document.querySelector('#password-notice').innerHTML = checkPasswordStrength(password)
        document.querySelector('#email-notice').innerHTML = dataValidate({email: email.value})
    }
    $('#email-notice').HTML = "Email";
</script>


<script>

</script>
