<div class="header-nav border-bottom">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
            <!-- Logo -->
            <div class="col-2">
                <a href="/" class="d-flex ">
                    <img src="user/img/logo.png" alt="logo" id="header_logo" style="width:85%">
                </a>
            </div>
            <!-- Nav -->
            <ul class="nav col-6">
                <li class="nav-item"><a href="/" class="nav-link link-secondary">Trang chủ</a></li>
                <li class="nav-item"><a href="/about-us" class="nav-link link-dark">Về Biti's</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link link-dark dropdown-toggle" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Sản phẩm</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" data-bs-popper="none">
                        <li>
                            <a class="dropdown-item" href="/shop-nam">Giày Dép Nam</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/shop-nu">Giày Dép Nữ</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Phụ kiện</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item"><a href="/contact" class="nav-link link-dark">Liên hệ</a></li>
            </ul>
            <!-- Loginbag -->
            <div class="loginbag col-4">
                <form action="#" method="get" class="custom-form search-form flex-fill" role="search">
                    <div class="input-group input-group-lg">
                        <input name="search" type="search" class="form-control" id="search" placeholder="Search Podcast" aria-label="Search">

                        <button type="submit" class="form-control" id="submit">
                            <i class="bi-search"></i>
                        </button>
                    </div>
                </form>
                <button type="button" class="loginbag-btn ms-5 me-1"><i class="la la-search loginbag-icon"></i></button>
                <button type="button" class="loginbag-btn me-3"><i
                        class="la la-shopping-bag loginbag-icon"></i></button>
                {{#if user}}
                    <div>

                    </div>
                {{else}}
                    <div>
                        <button type="button" class="btn outline-button me-3" id="NavBar-loginBtn">Đăng nhập</button>
                        <button type="button" class="btn primary-button me-3" id="NavBar-signupBtn">Đăng ký</button>
                    </div>
                {{/if}}

            </div>
            {{> modal}}
        </div>
    </div>
</div>