<div class="row g-3">
    <!--------- Sản phẩm mới --------->
    <h3 class="row justify-content-center align-content-center">SẢN PHẨM MỚI</h3>
    <!-- New product cards -->
    {{#each NewProducts}}
        {{> index_product_card product=this}}
    {{/each}}
    <div class="row justify-content-center align-content-center d-flex">
        <a href="/shop-nam" class="link-button">CÒN NHIỀU LẮM, XEM THÊM</a>
    </div>


    <!--------- Sản phẩm bán chạy --------->
    <h3 class="row justify-content-center align-content-center">BÁN CHẠY</h3>
    {{#each BestSellers}}
        {{> index_product_card product=this}}
    {{/each}}
    <div class="row justify-content-center align-content-center d-flex">
        <a href="/shop-all" class="link-button">CÒN NHIỀU LẮM, XEM THÊM</a>
    </div>
</div>