<!--------- Tin tức --------->
<div class="container-fluid">
    <div class="container">
        <h3>TIN TỨC BITI'S</h3>
        <div class="row g-3 d-flex flex-wrap">
            <div class="col-3 news-card">
                <img src="user/img/news.png" style="width: 100%;">
                <h6 class="subtitle py-2" style="line-height: 18px;">BITI’S đạt giải thưởng doanh nghiệp xuất sắc Châu Á
                    - APEA 2023</h6>
                <a href="#" class="link-button-small">Xem thêm</a>
            </div>
            <div class="col-3 news-card">
                <img src="user/img/news_3.png" style="width: 100%;">
                <h6 class="subtitle py-2" style="line-height: 18px;">Gần 1000 thủy thủ BITI’S cùng nhau vượt sóng vươn
                    xa tại trạm kết nối 2023</h6>
                <a href="#" class="link-button-small">Xem thêm</a>
            </div>
            <div class="col-3 news-card">
                <img src="user/img/news_4.png" style="width: 100%;">
                <h6 class="subtitle py-2" style="line-height: 18px;">ABBANK và BITI’S hợp lực kiến tạo trải nghiệm Khách
                    hàng Hạnh phúc</h6>
                <a href="#" class="link-button-small">Xem thêm</a>
            </div>
            <div class="col-3 news-card">
                <img src="user/img/news_1.jpg" style="width: 100%;">
                <h6 class="subtitle py-2" style="line-height: 18px;">Mã mua sắm ưu đãi tại PNJ dành cho khách hàng thân
                    thiết (Từ tháng 11/2023)</h6>
                <a href="#" class="link-button-small">Xem thêm</a>
            </div>
        </div>
    </div>
</div>