<!--&lt;!&ndash; Sign up modal &ndash;&gt;-->
<!--<div class="overlay" id="signupOverlay"></div>-->
<!--    <div class="modal" id="signupModal">-->
<!--        <div class="modal-content">-->
<!--            <span class="close" onclick="closeSignupModal()">&times;</span>-->
<!--            <img src="img/logo.png" style="width: 25%;margin-top: 1em;">-->
<!--            <h4>Đăng ký</h4>-->
<!--            <form>-->
<!--                <label for="username">Email/Số điện thoại</label>-->
<!--                <input type="text" id="username" name="username" placeholder="nguyenvana@gmail.com" required>-->
<!--                <label for="password">Mật khẩu</label>-->
<!--                <input type="password" id="password" name="username" placeholder="••••••••••••••••" required>-->
<!--                <p class="additional-text">Quên mật khẩu?</p>-->
<!--                <button type="submit" class="btn primary-button">Đăng ký</button><br>-->
<!--                <p>Đã có tài khoản? <a class="link-button-small" href="#">Đăng nhập ngay</a></p>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--                -->
<!--    &lt;!&ndash; Javascript Sign up modal&ndash;&gt;-->
<!--    <script>-->
<!--        // Open the sign up modal-->
<!--        document.getElementById('signupBtn').addEventListener('click', openSignupModal);-->
<!--        // Close the sign up modal-->
<!--        function closeSignupModal() {-->
<!--            document.getElementById('signupModal').style.display = 'none';-->
<!--            document.getElementById('signupOverlay').style.display = 'none';-->
<!--        }-->
<!--        // Open the signup modal-->
<!--        function openSignupModal() {-->
<!--            document.getElementById('signupModal').style.display = 'block';-->
<!--            document.getElementById('signupOverlay').style.display = 'block';-->
<!--        }-->
<!--    </script>-->