<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Sắp xếp theo
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Giá: Tăng dần</a></li>
        <li><a class="dropdown-item" href="#">Giá: Giảm dần</a></li>
        <li><a class="dropdown-item" href="#">Tên: A-Z</a></li>
        <li><a class="dropdown-item" href="#">Tên: Z-A</a></li>
        <li><a class="dropdown-item" href="#">Mới nhất</a></li>
        <li><a class="dropdown-item" href="#">Cũ nhất</a></li>
    </ul>
</div>