<!--Breadcrumb-->
<div class="ms-4 mt-4 container-fluid">
    <div class="container">
        <h4 class="mt-4 mb-3">Thêm sản phẩm</h4>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Hình ảnh</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple>
        </div>
        <form>
            <div class="row d-flex flex-row">
                <!--Name-->
                <div class="col-6 mb-3">
                    <label for="name" class="form-label">Tên</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <!--Price-->
                <div class="col-3 mb-3">
                    <label for="price" class="form-label">Giá</label>
                    <input type="text" class="form-control" id="price">
                </div>
                <!--Quantity-->
                <div class="col-3 mb-3">
                    <label for="quantity" class="form-label">Số lượng</label>
                    <input type="text" class="form-control" id="quantity">
                </div>
            </div>
            <!--Description-->
            <div class="row d-flex flex-row">
                <div class="col mb-3">
                    <label for="description" class="form-label">Mô tả ngắn</label>
                    <input type="text-aria" class="form-control" id="short_description" style="height: 70px">
                </div>
                <div class="col mb-3">
                    <label for="description" class="form-label">Mô tả chi tiết</label>
                    <input type="text-aria" class="form-control" id="description" style="height: 70px">
                </div>
            </div>
            
            <div class="row d-flex flex-row">
                <!--Colors-->
                <div class="mb-3">
                    <label for="size" class="form-label">Màu sắc</label>
                    <div class="product-color">
                        <div class="color-option d-flex" style="font-size: 10px">
                            <button style="background-color:#f36b26; color: black" onclick="selectColor(this)">CAM</button>
                            <button style="background-color:black; color: white" onclick="selectColor(this)">DEN</button>
                            <button style="background-color:#da0020" onclick="selectColor(this)">DOO</button>
                            <button style="background-color:#f23995" onclick="selectColor(this)">HOG</button>
                            <button style="background-color: rgb(225, 213, 206)" onclick="selectColor(this)">KEM</button>
                            <button style="background-color: rgb(70, 60, 60)" onclick="selectColor(this)">NAU</button>
                            <button style="background-color: rgb(34, 51, 34)" onclick="selectColor(this)">REU</button>
                            <button style="background-color:rgb(240, 240, 240)" onclick="selectColor(this)">TRG</button>   
                            <button style="background-color:rgb(255, 227, 68)" onclick="selectColor(this)">VAG</button>
                            <button style="background-color:gray" onclick="selectColor(this)">XAM</button>
                            <button style="background-color:#1a4ea0" onclick="selectColor(this)">XDG</button>
                            <button style="background-color:#23b551" onclick="selectColor(this)">XLC</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Categories-->
            <div class="row mb-3">
                <label for="size" class="form-label">Kiểu giày</label>
                <div class="d-flex style-option gap-3">
                    <button class="outline-button">Dép</button>
                    <button class="outline-button">Giày Búp Bê</button>
                    <button class="outline-button">Giày Chạy Bộ</button>
                    <button class="outline-button">Giày Thể Thao</button>
                    <button class="outline-button">Giày Thời Trang</button>
                    <button class="outline-button">Giày Đi Bộ</button>
                    <button class="outline-button">Hunter</button>
                </div>
            </div>
        </form>
    </div>
