<div class="container-fluid">
    <div class="container">
        <div class="row g-4 d-flex flex-row">
            <table class="table">
                <thead>
                    <tr class="tuble">
                        
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>