<!--------- Breadcrumb --------->
<div class="container-fluid">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">TRANG CHỦ</a></li>
            <li>LIÊN HỆ</li>
        </ul>
    </div>
</div>

<!--------- Headline --------->
<div class="container-fluid justify-content-center">
    <h4 style="text-align: center;">Liên hệ</h4>
</div>
<!--------- Google map --------->
<div class="container-fluid">
    <div class="container google-map">
        <!-- Google map -->
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250878.02649306465!2d106.34368858671873!3d10.736860000000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752e77a7797b11%3A0xfec241abea0e789!2zQ8O0bmcgdHkgVE5ISCBT4bqjbiBYdeG6pXQgSMOgbmcgVGnDqnUgRMO5bmcgQsOsbmggVGnDqm4gKEJpdGkncyk!5e0!3m2!1sen!2s!4v1699735919541!5m2!1sen!2s"
            width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<!--------- Contact --------->
<div class="container-fluid">
    <div class="container">
        <div class="row d-flex">
            <!--------- Contact info --------->
            <div class="col-6">
                <div class="info-container">
                    <h5 class="border-bottom">Thông tin liên hệ</h5>
                    <ul class="row info-list">
                        <!-- Địa chỉ -->
                        <li>
                            <span><i class="la la-map-marker"></i></span>
                            <h6>Địa chỉ</h6>
                            <p>22 Lý Chiêu Hoàng, Phường 10, Quận 6, TP.HCM</p>
                        </li>
                        <!-- Email -->
                        <li>
                            <span><i class="la la-envelope"></i></span>
                            <h6>Email</h6>
                            <p>chamsockhachhang@bitis.com.vn</p>
                        </li>
                        <!-- Điện thoại -->
                        <li>
                            <span><i class="la la-envelope"></i></span>
                            <h6>Điện thoại</h6>
                            <p>0966158666</p>
                        </li>
                        <!-- Vận chuyển -->
                        <li>
                            <span><i class="la la-shipping-fast"></i></span>
                            <h6>Vận chuyển</h6>
                            <a href="https://www.haravan.com/">Haravan Enterprise</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--------- Contact form --------->
            <div class="col-6">
                <div class="form-container">
                    <h5 class="border-bottom">Để lại lời nhắn</h5>
                    <div class="d-flex flex-row">
                        <!-- Họ tên -->
                        <div class="col-7 mb-2">
                            <label for="name" class="form-label">Họ tên</label><br>
                            <input type="text" placeholder="Nhập họ và tên" name="name" id="name" style="width:95%"
                                required>
                        </div>
                        <!-- Điện thoại -->
                        <div class="col-5 mb-2">
                            <label for="tel" class="form-label">Số điện thoại</label><br>
                            <input type="text" placeholder="Nhập số điện thoại" name="tel" id="tel" style="width:100%"
                                required>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="mb-2">
                        <label for="email" class="form-label">Email</label><br>
                        <input type="text" placeholder="Nhập email" name="email" id="email" style="width:100%" required>
                    </div>
                    <!-- Nội dung -->
                    <div class="mb-2">
                        <label for="content" class="form-label">Nội dung</label><br>
                        <textarea required="" name="content" placeholder="Hãy để lại lời nhắn cho chúng tôi"
                            spellcheck="false" style="width:100%; height: 100px"></textarea>
                    </div>
                    <!-- Button -->
                    <div class="col-12 d-flex mb-2 justify-content-center">
                        <button class="btn secondary-button me-3">Gửi ngay</button>
                        <button class="btn outline-button">Nhập lại</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>