
    <!--------- Breadcrumb --------->
    <div class="container-fluid">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">TRANG CHỦ</a></li>
                <li><a href="#">SẢN PHẨM</a></li>
                <li>GIÀY DÉP NỮ</li>
            </ul>
        </div>
    </div>
    <!--------- Banner --------->
    <div class="banner">
        <img src="user/img/shop_banner_nu.jpg" alt="banner">
    </div>

    <!--------- Products --------->
    <div class="container-fluid">
        <div class="container">
            <div class="row g-3">
                <!--------- Products filter --------->
                <div class="col-3 product-filter">
                    <h6 class="py-2 mb-3 border-bottom"><i class="las la-filter" style="font-size: 20px;"></i>&nbsp;&nbsp;Kiểu giày</h6>
                    <img src="user/img/GiayNam/GiayNamLabel/hunter-nam.svg" alt="hunter" class="product-types me-3">
                    <img src="user/img/GiayNam/GiayNamLabel/giay-the-thao-nam.svg" alt="thethao" class="product-types me-3">
                    <img src="user/img/GiayNam/GiayNamLabel/giay-da-banh.svg" alt="dabanh" class="product-types me-3">
                    <img src="user/img/GiayNam/GiayNamLabel/hunter-running-nam.svg" alt="chaybo" class="product-types">
                    <img src="user/img/GiayNam/GiayNamLabel/sandal-nam.svg" alt="sandal" class="product-types me-3">
                    <img src="user/img/GiayNam/GiayNamLabel/giay-tay-nam.svg" alt="giaytay" class="product-types me-3">
                    <img src="user/img/GiayNam/GiayNamLabel/dep-nam.svg" alt="giaytay" class="product-types">
                    <h6 class="py-2 mb-3 border-bottom"><i class="la la-palette" style="font-size: 20px;"></i>&nbsp;&nbsp;Màu sắc</h6>
                    <a href="#" class="color-option me-2" style="background-color:#000"></a>
                    <a href="#" class="color-option me-2" style="background-color:gray"></a>
                    <a href="#" class="color-option me-2" style="background-color:#da0020"></a>
                    <a href="#" class="color-option me-2" style="background-color:#1a4ea0"></a>
                    <a href="#" class="color-option me-2" style="background-color:#f36b26"></a>
                    <a href="#" class="color-option me-2" style="background-color:#f23995"></a>
                    <a href="#" class="color-option me-2" style="background-color:#a83280"></a>
                    <a href="#" class="color-option me-2" style="background-color:#781f9f"></a>
                    <a href="#" class="color-option me-2" style="background-color:#178d7c"></a>
                    <a href="#" class="color-option me-2" style="background-color:#23b551"></a>
                    <a href="#" class="color-option me-2" style="background-color:#88e23c"></a>
                    <a href="#" class="color-option me-2" style="background-color:#fff"></a>
                    <h6 class="py-2 mb-3 border-bottom"><i class="la la-shoe-prints" style="font-size: 20px;"></i>&nbsp;&nbsp;Kích cỡ</h6>
                    <a href="#" class="size-option me-2">35</a>
                    <a href="#" class="size-option me-2">36</a>
                    <a href="#" class="size-option me-2">37</a>
                    <a href="#" class="size-option me-2">38</a>
                    <a href="#" class="size-option">39</a>
                    <a href="#" class="size-option me-2">40</a>
                    <a href="#" class="size-option me-2">41</a>
                    <a href="#" class="size-option me-2">42</a>
                    <a href="#" class="size-option me-2">43</a>
                    <a href="#" class="size-option">44</a>
                    <a href="#" class="size-option me-2">45</a>
                </div>
                <!--------- Products row 1 --------->
                <!-- Product card 1 -->
                <div class="col-3">
                    <div class="product-card">
                        <!-- Thumbnail -->
                        <div class="product-thumbnail">
                            <div class="product-label-new">Mới</div>
                            <div class="product-favorite">
                                <div class="icon-wishlist"></div>
                            </div>
                            <div class="figure">
                                <img class="Sirv image-main" src="https://ngoc-tran.sirv.com/GiayNu/HSW004400/HSW004400MAIN.jpg" data-src="https://ngoc-tran.sirv.com/GiayNu/HSW004400/HSW004400MAIN.jpg">
                                <img class="Sirv image-hover" data-src="https://ngoc-tran.sirv.com/GiayNu/HSW004400/HSW004400HOVER.jpg">
                            </div>
                        </div>
                        <!-- Info -->
                        <div class="product-info">
                            <!-- Properties -->
                            <div class="product-property d-flex align-items-center justify-content-between">
                                <div class="product-number-size"> 5 Size </div>
                                <div class="product-number-color"> 3 màu sắc </div>
                            </div>
                            <!-- Title -->
                            <div class="product-name">
                                <a href="#">Giày Thể Thao Nữ Biti's Hunter X HSW004400</a>
                            </div>
                            <!-- Price -->
                            <div class="product-price d-flex align-items-center">932,000 ₫</div>
                            <!-- Swatch -->
                            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">		
                                <img src="https://ngoc-tran.sirv.com/GiayNu/HSW004400/HSW004400MAIN.jpg" alt="TRG" class="active">
                                <img src="https://ngoc-tran.sirv.com/GiayNu/HSW004400/HSW004400XNH.jpg" alt="XNH">
                                <img src="https://ngoc-tran.sirv.com/GiayNu/HSW004400/HSW004400XAM.jpg" alt="DEN">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product card 2 -->
                <div class="col-3">
                    <div data-id="HSM001400" class="product-card">
                        <!-- Thumbnail -->
                        <div class="product-thumbnail">
                            <div class="product-label-new">Mới</div>
                            <div class="product-favorite">
                                <div class="icon-wishlist"></div>
                            </div>
                            <div class="figure">
                                <img class="Sirv image-main" src="https://ngoc-tran.sirv.com/GiayNam/HSM001400/HSM001400MAIN.jpg" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM001400/HSM001400MAIN.jpg">
                                <img class="Sirv image-hover" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM001400/HSM001400HOVER.jpg">
                            </div>
                        </div>
                        <!-- Info -->
                        <div class="product-info">
                            <!-- Properties -->
                            <div class="product-property d-flex align-items-center justify-content-between">
                                <div class="product-number-size"> 7 Size </div>
                                <div class="product-number-color"> 3 màu sắc </div>
                            </div>
                            <!-- Title -->
                            <div class="product-name">
                                <a href="#">Giày Thể Thao Nam Biti's Hunter X Wavy Collection HSM001400</a>
                            </div>
                            <!-- Price -->
                            <div class="product-price d-flex align-items-center">981,000 ₫</div>
                            <!-- Swatch -->
                            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">		
                                <img src="https://ngoc-tran.sirv.com/GiayNam/BSM000900/BSM000900MAIN.jpg" alt="TRG" class="active">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/BSM000900/HSM001400XAM.jpg" alt="XAM">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/BSM000900/BSM000900DEN.jpg" alt="DEN">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product card 3 -->
                <div class="col-3">
                    <div data-id="HSM002900" class="product-card">
                        <!-- Thumbnail -->
                        <div class="product-thumbnail">
                            <div class="product-label-hot">Sale</div>
                            <div class="product-favorite">
                                <div class="icon-wishlist"></div>
                            </div>
                            <div class="figure">
                                <img class="Sirv image-main" src="https://ngoc-tran.sirv.com/GiayNam/HSM002900/HSM002900MAIN.jpg" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM002900/HSM002900MAIN.jpg">
                                <img class="Sirv image-hover" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM002900/HSM002900HOVER.jpg">
                            </div>
                        </div>
                        <!-- Info -->
                        <div class="product-info">
                            <!-- Properties -->
                            <div class="product-property d-flex align-items-center justify-content-between">
                                <div class="product-number-size"> 7 Size </div>
                                <div class="product-number-color"> 4 màu sắc </div>
                            </div>
                            <!-- Title -->
                            <div class="product-name">
                                <a href="#">Giày Thể Thao Nam Biti’s Hunter HSM002900</a>
                            </div>
                            <!-- Price -->
                            <div class="product-price d-flex align-items-center"><del>1,305,000 ₫</del>&nbsp 899,000 ₫</div>
                            <!-- Swatch -->
                            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">		
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM002900/HSM002900MAIN.jpg" alt="XNH" class="active">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM002900/HSM002900KEM.jpg" alt="KEM">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM002900/HSM002900TRG.jpg" alt="TRG">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM002900/HSM002900DEN.jpg" alt="DEN">
                            </div>
                        </div>
                    </div>
                </div>

                <!--------- Products row 2 --------->
                <div class="col-3"></div>
                <!-- Product card 1 -->
                <div class="col-3">
                    <div data-id="BSM000600" class="product-card">
                        <!-- Thumbnail -->
                        <div class="product-thumbnail">
                            <div class="product-label-new">Mới</div>
                            <div class="product-favorite">
                                <div class="icon-wishlist"></div>
                            </div>
                            <div class="figure">
                                <img class="Sirv image-main" src="https://ngoc-tran.sirv.com/GiayNam/BSM000600/BSM000600MAIN.jpg" data-src="https://ngoc-tran.sirv.com/GiayNam/BSM000600/BSM000600MAIN.jpg">
                                <img class="Sirv image-hover" data-src="https://ngoc-tran.sirv.com/GiayNam/BSM000600/BSM000600HOVER.jpg">
                            </div>
                        </div>
                        <!-- Info -->
                        <div class="product-info">
                            <!-- Properties -->
                            <div class="product-property d-flex align-items-center justify-content-between">
                                <div class="product-number-size"> 4 Size </div>
                                <div class="product-number-color"> 2 màu sắc </div>
                            </div>
                            <!-- Title -->
                            <div class="product-name">
                                <a href="#">Giày Thể Thao Thông Dụng Nam Biti's Basic BSM000600</a>
                            </div>
                            <!-- Price -->
                            <div class="product-price d-flex align-items-center">368,000 ₫</div>
                            <!-- Swatch -->
                            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">		
                                <img src="https://ngoc-tran.sirv.com/GiayNam/BSM000600/BSM000600MAIN.jpg" alt="TRG" class="active">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/BSM000600/BSM000600DEN.jpg" alt="DEN">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product card 2 -->
                <div class="col-3">
                    <div data-id="HSM000200" class="product-card">
                        <!-- Thumbnail -->
                        <div class="product-thumbnail">
                            <div class="product-label-new">Mới</div>
                            <div class="product-favorite">
                                <div class="icon-wishlist"></div>
                            </div>
                            <div class="figure">
                                <img class="Sirv image-main" src="https://ngoc-tran.sirv.com/GiayNam/HSM000200/HSM000200MAIN.jpg" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM000200/HSM000200MAIN.jpg">
                                <img class="Sirv image-hover" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM000200/HSM000200HOVER.jpg">
                            </div>
                        </div>
                        <!-- Info -->
                        <div class="product-info">
                            <!-- Properties -->
                            <div class="product-property d-flex align-items-center justify-content-between">
                                <div class="product-number-size"> 6 Size </div>
                                <div class="product-number-color"> 3 màu sắc </div>
                            </div>
                            <!-- Title -->
                            <div class="product-name">
                                <a href="#">Giày Thể Thao Nam Biti's Hunter Tennis HSM000200</a>
                            </div>
                            <!-- Price -->
                            <div class="product-price d-flex align-items-center">853,000 ₫</div>
                            <!-- Swatch -->
                            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">		
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM000200/HSM000200MAIN.jpg" alt="TRG" class="active">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM000200/HSM000200XNH.jpg" alt="XANH">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM000200/HSM000200XAM.jpg" alt="XAM">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product card 3 -->
                <div class="col-3">
                    <div data-id="HSM000500" class="product-card">
                        <!-- Thumbnail -->
                        <div class="product-thumbnail">
                            <div class="product-label-normal">Thường</div>
                            <div class="product-favorite">
                                <div class="icon-wishlist"></div>
                            </div>
                            <div class="figure">
                                <img class="Sirv image-main" src="https://ngoc-tran.sirv.com/GiayNam/HSM000500/HSM000500MAIN.jpg" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM000500/HSM000500MAIN.jpg" style="width: 100%">
                                <img class="Sirv image-hover" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM000500/HSM000500HOVER.jpg">
                            </div>
                        </div>
                        <!-- Info -->
                        <div class="product-info">
                            <!-- Properties -->
                            <div class="product-property d-flex align-items-center justify-content-between">
                                <div class="product-number-size"> 7 Size </div>
                                <div class="product-number-color"> 2 màu sắc </div>
                            </div>
                            <!-- Title -->
                            <div class="product-name">
                                <a href="#">Giày Thể Thao Nam Biti's Hunter Core HSM000500</a>
                            </div>
                            <!-- Price -->
                            <div class="product-price d-flex align-items-center">853,000 ₫</div>
                            <!-- Swatch -->
                            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">		
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM000500/HSM000500MAIN.jpg" alt="DEN" class="active">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM000500/HSM000500REU.jpg" alt="REU">
                            </div>
                        </div>
                    </div>
                </div>

                <!--------- Products row 3 --------->
                <div class="col-3"></div>
                <!-- Product card 1 -->
                <div class="col-3">
                    <div data-id="DSMH10800" class="product-card">
                        <!-- Thumbnail -->
                        <div class="product-thumbnail">
                            <div class="product-label-normal">Thường</div>
                            <div class="product-favorite">
                                <div class="icon-wishlist"></div>
                            </div>
                            <div class="figure">
                                <img class="Sirv image-main" src="https://ngoc-tran.sirv.com/GiayNam/DSMH10800/DSMH10800MAIN.jpg" data-src="https://ngoc-tran.sirv.com/GiayNam/DSMH10800/DSMH10800MAIN.jpg">
                                <img class="Sirv image-hover" data-src="https://ngoc-tran.sirv.com/GiayNam/DSMH10800/DSMH10800HOVER.jpg">
                            </div>
                        </div>
                        <!-- Info -->
                        <div class="product-info">
                            <!-- Properties -->
                            <div class="product-property d-flex align-items-center justify-content-between">
                                <div class="product-number-size"> 7 Size </div>
                                <div class="product-number-color"> 2 màu sắc </div>
                            </div>
                            <!-- Title -->
                            <div class="product-name">
                                <a href="#">Giày Thể Thao Nam Hunter Core - Meteor Collection DSMH10800</a>
                            </div>
                            <!-- Price -->
                            <div class="product-price d-flex align-items-center">736,000 ₫</div>
                            <!-- Swatch -->
                            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">		
                                <img src="https://ngoc-tran.sirv.com/GiayNam/DSMH10800/DSMH10800MAIN.jpg" alt="DEN" class="active">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/DSMH10800/DSMH10800XAM.jpg" alt="TRG">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product card 2 -->
                <div class="col-3">
                    <div data-id="HSM001200" class="product-card">
                        <!-- Thumbnail -->
                        <div class="product-thumbnail">
                            <div class="product-label-hot">Sale</div>
                            <div class="product-favorite">
                                <div class="icon-wishlist"></div>
                            </div>
                            <div class="figure">
                                <img class="Sirv image-main" src="https://ngoc-tran.sirv.com/GiayNam/HSM001200/HSM001200MAIN.jpg" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM001200/HSM001200MAIN.jpg">
                                <img class="Sirv image-hover" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM001200/HSM001200HOVER.jpg">
                            </div>
                        </div>
                        <!-- Info -->
                        <div class="product-info">
                            <!-- Properties -->
                            <div class="product-property d-flex align-items-center justify-content-between">
                                <div class="product-number-size"> 6 Size </div>
                                <div class="product-number-color"> 2 màu sắc </div>
                            </div>
                            <!-- Title -->
                            <div class="product-name">
                                <a href="#">Giày Thể Thao Nam Hunter X - Dune OTP HSM001200</a>
                            </div>
                            <!-- Price -->
                            <div class="product-price d-flex align-items-center"><del>1,305,000 ₫</del>&nbsp 799,000 ₫</div>
                            <!-- Swatch -->
                            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">		
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM001200/HSM001200MAIN.jpg" alt="DEN" class="active">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product card 3 -->
                <div class="col-3">
                    <div data-id="HSM001201" class="product-card">
                        <!-- Thumbnail -->
                        <div class="product-thumbnail">
                            <div class="product-label-hot">Sale</div>
                            <div class="product-favorite">
                                <div class="icon-wishlist"></div>
                            </div>
                            <div class="figure">
                                <img class="Sirv image-main" src="https://ngoc-tran.sirv.com/GiayNam/HSM001201/HSM001201MAIN.jpg" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM001201/HSM001201MAIN.jpg" style="width: 100%">
                                <img class="Sirv image-hover" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM001201/HSM001201HOVER.jpg">
                            </div>
                        </div>
                        <!-- Info -->
                        <div class="product-info">
                            <!-- Properties -->
                            <div class="product-property d-flex align-items-center justify-content-between">
                                <div class="product-number-size"> 7 Size </div>
                                <div class="product-number-color"> 1 màu sắc </div>
                            </div>
                            <!-- Title -->
                            <div class="product-name">
                                <a href="#">Giày Thể Thao Nam Hunter X - Dune OTP Real White HSM001201</a>
                            </div>
                            <!-- Price -->
                            <div class="product-price d-flex align-items-center"><del>1,305,000 ₫</del>&nbsp 799,000 ₫</div>
                            <!-- Swatch -->
                            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">		
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM001201/HSM001201MAIN.jpg" alt="TRG" class="active">
                            </div>
                        </div>
                    </div>
                </div>

                <!--------- Products row 4 --------->
                <div class="col-3"></div>
                <!-- Product card 1 -->
                <div class="col-3">
                    <div data-id="HSM003100" class="product-card">
                        <!-- Thumbnail -->
                        <div class="product-thumbnail">
                            <div class="product-label-normal">Thường</div>
                            <div class="product-favorite">
                                <div class="icon-wishlist"></div>
                            </div>
                            <div class="figure">
                                <img class="Sirv image-main" src="https://ngoc-tran.sirv.com/GiayNam/HSM003100/HSM003100MAIN.jpg" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM003100/HSM003100MAIN.jpg">
                                <img class="Sirv image-hover" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM003100/HSM003100HOVER.jpg">
                            </div>
                        </div>
                        <!-- Info -->
                        <div class="product-info">
                            <!-- Properties -->
                            <div class="product-property d-flex align-items-center justify-content-between">
                                <div class="product-number-size"> 6 Size </div>
                                <div class="product-number-color"> 3 màu sắc </div>
                            </div>
                            <!-- Title -->
                            <div class="product-name">
                                <a href="#">Giày Thể Thao Nam Biti's Hunter X HSM003100</a>
                            </div>
                            <!-- Price -->
                            <div class="product-price d-flex align-items-center">981,000 ₫</div>
                            <!-- Swatch -->
                            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">		
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM003100/HSM003100MAIN.jpg" alt="KEM" class="active">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM003100/HSM003100XAM.jpg" alt="XAM">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM003100/HSM003100DEN.jpg" alt="DEN">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product card 2 -->
                <div class="col-3">
                    <div data-id="HSM004400" class="product-card">
                        <!-- Thumbnail -->
                        <div class="product-thumbnail">
                            <div class="product-label-new">Mới</div>
                            <div class="product-favorite">
                                <div class="icon-wishlist"></div>
                            </div>
                            <div class="figure">
                                <img class="Sirv image-main" src="https://ngoc-tran.sirv.com/GiayNam/HSM004400/HSM004400MAIN.jpg" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM004400/HSM004400MAIN.jpg">
                                <img class="Sirv image-hover" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM004400/HSM004400HOVER.jpg">
                            </div>
                        </div>
                        <!-- Info -->
                        <div class="product-info">
                            <!-- Properties -->
                            <div class="product-property d-flex align-items-center justify-content-between">
                                <div class="product-number-size"> 7 Size </div>
                                <div class="product-number-color"> 3 màu sắc </div>
                            </div>
                            <!-- Title -->
                            <div class="product-name">
                                <a href="#">Giày Thể Thao Nam Biti's Hunter X HSM004400</a>
                            </div>
                            <!-- Price -->
                            <div class="product-price d-flex align-items-center">981,000 ₫</div>
                            <!-- Swatch -->
                            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">		
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM004400/HSM004400MAIN.jpg" alt="DEN" class="active">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM004400/HSM004400XAM.jpg" alt="DEN">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM004400/HSM004400XNH.jpg" alt="DEN">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product card 3 -->
                <div class="col-3">
                    <div data-id="BSM001100" class="product-card">
                        <!-- Thumbnail -->
                        <div class="product-thumbnail">
                            <div class="product-label-hot">Sale</div>
                            <div class="product-favorite">
                                <div class="icon-wishlist"></div>
                            </div>
                            <div class="figure">
                                <img class="Sirv image-main" src="https://ngoc-tran.sirv.com/GiayNam/BSM001100/BSM001100MAIN.jpg" data-src="https://ngoc-tran.sirv.com/GiayNam/BSM001100/BSM001100MAIN.jpg" style="width: 100%">
                                <img class="Sirv image-hover" data-src="https://ngoc-tran.sirv.com/GiayNam/BSM001100/BSM001100HOVER.jpg">
                            </div>
                        </div>
                        <!-- Info -->
                        <div class="product-info">
                            <!-- Properties -->
                            <div class="product-property d-flex align-items-center justify-content-between">
                                <div class="product-number-size"> 7 Size </div>
                                <div class="product-number-color"> 3 màu sắc </div>
                            </div>
                            <!-- Title -->
                            <div class="product-name">
                                <a href="#">Giày Thể Thao Nam Biti's Hunter BSM001100</a>
                            </div>
                            <!-- Price -->
                            <div class="product-price d-flex align-items-center"><del>1,305,000 ₫</del>&nbsp 799,000 ₫</div>
                            <!-- Swatch -->
                            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">		
                                <img src="https://ngoc-tran.sirv.com/GiayNam/BSM001100/BSM001100MAIN.jpg" alt="XAM" class="active">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/BSM001100/BSM001100TRG.jpg" alt="TRG">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/BSM001100/BSM001100DEN.jpg" alt="DEN">
                            </div>
                        </div>
                    </div>
                </div>

                <!--------- Products row 5 --------->
                <div class="col-3"></div>
                <!-- Product card 1 -->
                <div class="col-3">
                    <div data-id="HSM002400" class="product-card">
                        <!-- Thumbnail -->
                        <div class="product-thumbnail">
                            <div class="product-label-new">Mới</div>
                            <div class="product-favorite">
                                <div class="icon-wishlist"></div>
                            </div>
                            <div class="figure">
                                <img class="Sirv image-main" src="https://ngoc-tran.sirv.com/GiayNam/HSM002400/HSM002400MAIN.jpg" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM002400/HSM002400MAIN.jpg">
                                <img class="Sirv image-hover" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM002400/HSM002400HOVER.jpg">
                            </div>
                        </div>
                        <!-- Info -->
                        <div class="product-info">
                            <!-- Properties -->
                            <div class="product-property d-flex align-items-center justify-content-between">
                                <div class="product-number-size"> 6 Size </div>
                                <div class="product-number-color"> 2 màu sắc </div>
                            </div>
                            <!-- Title -->
                            <div class="product-name">
                                <a href="#">Giày Thể Thao Nam Biti's Hunter Core HSM002400</a>
                            </div>
                            <!-- Price -->
                            <div class="product-price d-flex align-items-center">736,000 ₫</div>
                            <!-- Swatch -->
                            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">		
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM002400/HSM002400MAIN.jpg" alt="XAM" class="active">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM002400/HSM002400DEN.jpg" alt="DEN">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product card 2 -->
                <div class="col-3">
                    <div data-id="HSM003200" class="product-card">
                        <!-- Thumbnail -->
                        <div class="product-thumbnail">
                            <div class="product-label-normal">Thường</div>
                            <div class="product-favorite">
                                <div class="icon-wishlist"></div>
                            </div>
                            <div class="figure">
                                <img class="Sirv image-main" src="https://ngoc-tran.sirv.com/GiayNam/HSM003200/HSM003200MAIN.jpg" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM003200/HSM003200MAIN.jpg">
                                <img class="Sirv image-hover" data-src="https://ngoc-tran.sirv.com/GiayNam/HSM003200/HSM003200HOVER.jpg">
                            </div>
                        </div>
                        <!-- Info -->
                        <div class="product-info">
                            <!-- Properties -->
                            <div class="product-property d-flex align-items-center justify-content-between">
                                <div class="product-number-size"> 7 Size </div>
                                <div class="product-number-color"> 4 màu sắc </div>
                            </div>
                            <!-- Title -->
                            <div class="product-name">
                                <a href="#">Giày Thể Thao Nam Biti's Hunter X HSM004400</a>
                            </div>
                            <!-- Price -->
                            <div class="product-price d-flex align-items-center">981,000 ₫</div>
                            <!-- Swatch -->
                            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">		
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM003200/HSM003200HOVER.jpg" alt="TRG" class="active">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM003200/HSM003200DEN.jpg" alt="DEN">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM003200/HSM003200KEM.jpg" alt="KEM">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/HSM003200/HSM003200XNH.jpg" alt="XNH">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product card 3 -->
                <div class="col-3">
                    <div data-id="BSM001100" class="product-card">
                        <!-- Thumbnail -->
                        <div class="product-thumbnail">
                            <div class="product-label-hot">Sale</div>
                            <div class="product-favorite">
                                <div class="icon-wishlist"></div>
                            </div>
                            <div class="figure">
                                <img class="Sirv image-main" src="https://ngoc-tran.sirv.com/GiayNam/BSM001100/BSM001100MAIN.jpg" data-src="https://ngoc-tran.sirv.com/GiayNam/BSM001100/BSM001100MAIN.jpg" style="width: 100%">
                                <img class="Sirv image-hover" data-src="https://ngoc-tran.sirv.com/GiayNam/BSM001100/BSM001100HOVER.jpg">
                            </div>
                        </div>
                        <!-- Info -->
                        <div class="product-info">
                            <!-- Properties -->
                            <div class="product-property d-flex align-items-center justify-content-between">
                                <div class="product-number-size"> 7 Size </div>
                                <div class="product-number-color"> 3 màu sắc </div>
                            </div>
                            <!-- Title -->
                            <div class="product-name">
                                <a href="#">Giày Thể Thao Nam Biti's Hunter BSM001100</a>
                            </div>
                            <!-- Price -->
                            <div class="product-price d-flex align-items-center"><del>1,305,000 ₫</del>&nbsp 799,000 ₫</div>
                            <!-- Swatch -->
                            <div class="w-100 product-colors d-flex align-items-center justify-content-center flex-wrap">		
                                <img src="https://ngoc-tran.sirv.com/GiayNam/BSM001100/BSM001100MAIN.jpg" alt="XAM" class="active">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/BSM001100/BSM001100TRG.jpg" alt="TRG">
                                <img src="https://ngoc-tran.sirv.com/GiayNam/BSM001100/BSM001100DEN.jpg" alt="DEN">
                            </div>
                        </div>
                    </div>
                </div>