<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href ="../../../public/bootstrap-5/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../../public/bootstrap-5/js/bootstrap.bundle.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../../components/button/buttons.css">
    <link rel="stylesheet" href="../../components/common.css">
    <link rel="stylesheet" href="./searchbar.css">

<title>Search bar</title>
</head>
<body>
    <!-- Navbar -->
    <div class="container-fluid fixed-top navbar-container justify-content-between position-relative">
        <div class="container-xxl navbar">
            <div class="d-flex flex-row g-4 align-items-center justify-content-between">
                <!-- Menu & Search -->
                <div>
                    <h5 class="menu-open-btn"><img src="../../../public/imgs/navbar/menu-icon.svg" alt="Menu"></h5>
                </div>
                <div class="search-label flex-row">
                    <h5 class="mx-2"><img src="../../../public/imgs/navbar/search-icon.svg" alt="Search"></h5>
                    <p class="button2 align-items-center h-100 ">SEARCH</p>

                </div>
            </div>
            <!-- Logo -->
            <div class="d-flex flex-row g-4 align-items-center">
                <h5><a href="/"><img src="../../../public/imgs/navbar/logo.svg" alt="Fitment"></a></h5>
            </div>
            <!-- Cart & Account -->
            <div class="d-flex align-items-center">
                <div class="d-flex flex-row align-items-center">
                    <h5 class="cart-modal-open-btn">
                        <img src="../../../public/imgs/navbar/cart-icon.svg" alt="Cart"></h5>
                    <p class="button2 mx-2 align-items-center">BAG</p>
                    <div class="navbar-cart-num">
                        <p class="support align-items-center">0</p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <h5 class="mx-2"><img src="../../../public/imgs/navbar/profile-icon.svg" alt="Profile"></h5>
                    <p class="button2 align-items-center">ACCOUNT</p>
                </div>
            </div>
        </div>
        <!-- Search dropdown -->
        <div class="container-xxl  w-75">
            <div class ="search-dropdown justify-content-center flex-column gap-3 position-relative">
                <div class ="search-box">                
                    <div class ="d-flex flex-row g-4 d-flex">
                        <div class="input-group">
                            <div class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#46692A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <input type="text" class="form-control out" id="searchtext" placeholder="Typing something" 
                        style="background: var(--scheme-background);border: 1px solid var(--scheme-outline, #A1B096);">
                        
                        <div class="input-group-text quit-search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="#46692A"/>
                            </svg>
                        </div>
                        </div>
                        
                        
                    </div>     
                </div>
                <div class="row g-4">
                    <div class=" d-inline-flex gap-1">
                        <p class ="d-inline-flex" style="color: var(--tone-primary-10)"> Label</p>
                        <p class ="d-inline-flex" style="color: var(--tone-neutral-variant-60)">Label</p>
                    </div>
                </div>
                <div class="row g-4">
                    <div class=" d-inline-flex gap-1">
                        <p class ="d-inline-flex" style="color: var(--tone-primary-10)"> Label</p>
                        <p class ="d-inline-flex" style="color: var(--tone-neutral-variant-60)">Label</p>
                    </div>
                </div>
                <div class="row g-4">
                    <div class=" d-inline-flex gap-1">
                        <p class ="d-inline-flex" style="color: var(--tone-primary-10)"> Label</p>
                        <p class ="d-inline-flex" style="color: var(--tone-neutral-variant-60)">Label</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>

    <!-- Lorem ipsum -->
    <div class="content-page">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <script src="../Utils/searchbar.js"></script>
</body>
</html>